In [16]:
import pandas as pd
import numpy as np
import random

There are a variety of methods to generate a multiindex: [See here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.MultiIndex.from_arrays.html).  I'll just use ```from_arrays``` here.

In [17]:
index_array = [[i % 2 for i in range(6)], [chr(i + 65) for i in range(6)]]
index_array

[[0, 1, 0, 1, 0, 1], ['A', 'B', 'C', 'D', 'E', 'F']]

In [18]:
index = pd.MultiIndex.from_arrays(index_array)
index

MultiIndex(levels=[[0, 1], [u'A', u'B', u'C', u'D', u'E', u'F']],
           labels=[[0, 1, 0, 1, 0, 1], [0, 1, 2, 3, 4, 5]])

In [23]:
df = pd.DataFrame(np.random.rand(6, 10), index = index)
df

,,0,1,2,3,4,5,6,7,8,9
0,A,0.510072,0.996979,0.592675,0.098195,0.061180,0.121990,0.741266,0.191535,0.384121,0.438471
1,B,0.614515,0.745191,0.142893,0.635796,0.541997,0.635303,0.042235,0.464773,0.875618,0.292593
0,C,0.813634,0.911418,0.524679,0.033496,0.068711,0.581927,0.584848,0.463030,0.363368,0.840679
1,D,0.250872,0.846946,0.910283,0.893047,0.585007,0.574896,0.096135,0.094473,0.823193,0.055480
0,E,0.684681,0.946811,0.890270,0.049808,0.853580,0.115106,0.231180,0.914010,0.521147,0.509199
1,F,0.470376,0.814628,0.414038,0.637003,0.349302,0.392539,0.797714,0.487016,0.531378,0.226444

We don't have to define the index first, for example:

In [63]:
N = 12
index = [[i / 3  for i in range(N)], 
         [chr(i % 3 + 65) for i in range(N)]]
df = pd.DataFrame(np.random.rand(N, 5), index = index)
df

            0         1         2         3         4
0 A  0.858550  0.381916  0.048968  0.758719  0.629517
  B  0.072045  0.661601  0.782318  0.248334  0.190372
  C  0.395679  0.235179  0.107646  0.626769  0.092498
1 A  0.856758  0.872109  0.777422  0.477610  0.349230
  B  0.627213  0.791734  0.387092  0.264759  0.427067
  C  0.632481  0.365359  0.586426  0.313066  0.435593
2 A  0.061055  0.505573  0.803773  0.931632  0.015152
  B  0.484133  0.043695  0.140922  0.822680  0.523390
  C  0.088868  0.322268  0.885655  0.747406  0.766189
3 A  0.771974  0.434939  0.015368  0.139622  0.093787
  B  0.254260  0.917318  0.725008  0.515459  0.373974
  C  0.486882  0.328448  0.014856  0.239810  0.112568

And we can select from the multiindex as well

In [75]:
print df.loc[2], "\n"
print df.loc[0, "B"], "\n"
print df.loc[(slice(None), "B"),:]

          0         1         2         3         4
A  0.061055  0.505573  0.803773  0.931632  0.015152
B  0.484133  0.043695  0.140922  0.822680  0.523390
C  0.088868  0.322268  0.885655  0.747406  0.766189

0    0.072045
1    0.661601
2    0.782318
3    0.248334
4    0.190372
Name: (0, B), dtype: float64

            0         1         2         3         4
0 B  0.072045  0.661601  0.782318  0.248334  0.190372
1 B  0.627213  0.791734  0.387092  0.264759  0.427067
2 B  0.484133  0.043695  0.140922  0.822680  0.523390
3 B  0.254260  0.917318  0.725008  0.515459  0.373974

We can also use ```xs``` instead of ```slices```

In [77]:
print df.xs("B", level=1), "\n"
print df.xs(1, level = 0)

          0         1         2         3         4
0  0.072045  0.661601  0.782318  0.248334  0.190372
1  0.627213  0.791734  0.387092  0.264759  0.427067
2  0.484133  0.043695  0.140922  0.822680  0.523390
3  0.254260  0.917318  0.725008  0.515459  0.373974

          0         1         2         3         4
A  0.856758  0.872109  0.777422  0.477610  0.349230
B  0.627213  0.791734  0.387092  0.264759  0.427067
C  0.632481  0.365359  0.586426  0.313066  0.435593